@font-face {
    font-family: Dancing-Script;
    src: url("DancingScript.ttf");
}

@media screen and (max-width: 650px){
  .contenido {
    width: 100%;
  }

  .secundario, .secciones {
    display: block;
  }

  .principal img, .secundario img, .secciones img {
    width: 95%;
  }

  footer, header{
    display: block;
  }

  footer section, header div {
    text-align: center;
    width: 100%;
  }

  header nav li {
    float: none;
  }

  .info {
    text-align: center;
  }
}
