body {
  background-color: #02010a;
  border: 0 auto;
  font-family: Dancing-Script;
}

header {
  background-color: #5b7989;
  border-radius: 10px 10px 0 0;
  display: flex;
  align-items: center;
}

header div {
  width: 50%;
  margin: 0 auto;
}

h1 {
  color: #FFFFFF;
  text-shadow: 2px 2px #02010a;
  padding: 10px 12px 0 12px;
  font-size: 2vw;
}

footer {
  background-color: #C6d5c5;
  border-radius: 0 0 10px 10px;
  display: flex;
  align-items: center baseline;
}

img {
  box-shadow: 2px 2px #02010a;
}

footer section {
  width: 25%;
}

h5 {
  font-size: 1vw;
  padding: 0 3px;
  margin: 0;
}

header nav ul {
  list-style: none;
  margin: 0 auto;
}

header nav li {
  float: left;
  display: inline;
  margin: 0;
  padding: 1.2vw 1.9vw;
}

.menu {
  color: white;
  font-size: 1.3vw;
  padding: 1px 2px;
}

.contenido {
  max-width: 900px;
  margin: 0 auto;
  display: block;

  animation-duration: 1s;
  animation-timing-function: ease-in;
  animation-delay: 0s;
  animation-iteration-count: 1;
  animation-name: enterAnimation;
}

.principal {
  background-color: #82c3a6;
}

.secundario {
  background-color: #d5c75f;
  display: flex;
}

.principal img {
  width: 90%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.secundario img {
  width: 48%;
  margin: auto;
  border: 1px solid;
}

.info {
  font-size: 1.3vw;
  padding-left: 3px;
  padding-bottom: 2px;
  text-align: justify;
}

#imgPaisaje:hover {
  transition-duration: 0.5s;
  animation-duration: 2s;
  transform: rotate(10deg);
  -webkit-transform: rotate(10deg);
  box-shadow: 2px 2px #82c3a6;
}

#imgRetrato:hover {
  animation-duration: 5s;
  transition-duration: 0.5s;
  animation-duration: 2s;
  transform: translate(20px, -5px);
  -webkit-transform: translate(20px, -5px);
  box-shadow: 2px 2px #82c3a6;
}

.contactos {
  list-style: none;
}

.icon {
  width: 1.2vw;
}

.secciones {
  background-color: #d5c75f;
  display: flex flex-flow: ;
  padding: 0 25px;
}
.secciones img {
  width: 32%;
  margin-left: auto;
  margin-right: auto;
}

.blur {
  -webkit-filter: blur(10px); /* Chrome, Safari, Opera */
	filter: blur(10px);
}

.gray {
  -webkit-filter: grayscale(100%); /* Chrome, Safari, Opera */
	filter: grayscale(100%);
}

.sepia {
  -webkit-filter: sepia(90%); /* Chrome, Safari, Opera */
	filter: sepia(90%);
}
