<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="author" content="Nathalia Escalante">
  <meta name="description" content=“CSS y Diseño Web Responsive“>
  <meta name="viewport" content="width=device-width,user-scalable=no">

  <link rel="stylesheet" href="../css/styles.css">
  <link rel="stylesheet" href="../css/media.css">

  <title>CSS y Diseño Web Responsive Nathalia Escalante</title>
</head>

<body>
  <div class="contenido">
    <header>
      <div>
        <h1>Retratos</h1>
      </div>
      <div>
        <nav>
          <ul>
            <li><a class="menu" href="../index.html">Inicio</a></li>
            <li><a class="menu" href="paisajes.html">Paisajes</a></li>
            <li class="active"><a class="menu">Retratos</a></li>
          </ul>
        </nav>
      </div>
    </header>

    <section class="secciones">

      <img class="blur" src="../images/retrato.jpg" alt="Imagen Paisaje">
      <img class="gray" src="../images/retrato.jpg" alt="Imagen Paisaje">
      <img class="sepia" src="../images/retrato.jpg" alt="Imagen Paisaje">
      <img class="gray" src="../images/retrato.jpg" alt="Imagen Paisaje">
      <img src="../images/retrato.jpg" alt="Imagen Paisaje">
      <img class="gray" src="../images/retrato.jpg" alt="Imagen Paisaje">

    </section>

    <footer>
      <section>
        <h5>Contacto</h5>
        <p class="info">
          Correo: <a href="mailto:nathy.escalante@gmail.com?Subject=Contacto" target="_top">nathy.escalante@gmail.com</a> <br /> Direcci&oacute;n: Cartago, Costa Rica <br/> Tel&eacute;fono: 7114-8814
          </br/>
        </p>
      </section>

      <section>
        <h5>T&eacute;rminos</h5>
        <p class="info">
          Ver t&eacute;rminos y condiciones.
        </p>
      </section>

      <section>
        <h5>Redes sociales</h5>
        <ul class="info contactos">
          <li>
            <img src="../images/facebook.svg" class="icon"> @Contacto
          </li>
          <li>
            <img src="../images/twitter.svg" class="icon"> @Contacto
          </li>
          <li>
            <img src="../images/linkedin.svg" class="icon"> @Contacto
          </li>
        </ul>
      </section>

      <section>
        <h5>Derechos</h5>
        <p class="info">
          &copy; Nathalia Escalante, 2017
        </p>
      </section>
    </footer>

  </div>
</body>

</html>
